.about {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 120px 17px;
    margin-bottom: 180px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-color: $color-primary;
      width: 96.5%;
      height: 1px;
      top: 227px;
      left: 22px;
    }
  }
  &__name {
    text-transform: uppercase;
    font-family: 'Inter-Bold';
    letter-spacing: .09rem;
  }
  &__advantages {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 60px 20px;
    grid-column: 2 / 3;
    margin-left: 2px;
  }
  &__title {
    font-family: 'Inter-Bold';
    margin-bottom: 20px;
  }
}