.btn-modal {
  font-family: 'Inter-Bold';
  @include font($size: 1.6rem, $height: 2.4rem, $weight: 700);
  cursor: pointer;
  position: relative;
  color: $color-primary;
  border: none; outline: none;
  padding: 0;
  @include media-mobile-600 {
    @include font($size: 1.2rem, $height: 1.8rem);
  }
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 35px;
      width: 0;
      height: 2px;
      background-color: $color-primary;
      opacity: 0;
      transform: translateX(-50%);
      @extend %transition;
      @include media-mobile {
        top: 32px;
      }
    }
    @media (hover: hover) {
      &:hover {
        &::after {
          width: 170px;
          opacity: 1;
          @include media-mobile {
            width: 100%;
          }
        }
      }
    }
}

.overlay {  
  position: fixed;  
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-primary, 0.6);
  z-index: 101;
  cursor: pointer;
}
.modal {
  position: relative;
  background: transparent;   
  animation-name: modal-active;
  animation-duration: 1s;
  z-index: 102;
  cursor: default;
  &__wrapper {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);  
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 100%;
    background: $color-bg;
    @include media-mobile {
      width: 360px;
    }
  }
  &__inner {
  padding: 55px 20px 40px 20px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $color-primary;
    padding: 0 60px 29px 60px;
    margin-bottom: 40px;
    @include media-mobile {
      padding: 0 30px 29px 30px;
    }
  }
  &__title {
    font-family: 'Inter-Bold';
    @include font($size: 2.2rem, $height: 3.3rem);
    text-transform: uppercase;
    flex-wrap: nowrap;
    margin-bottom: 15px;
    letter-spacing: .07rem;
    @include media-mobile {
      @include font($size: 1.6rem, $height: 2.4rem);
      text-align: center;
    }
  }
  &__description {
    text-align: center;
    padding: 0 50px;
    @include media-mobile {
      padding: 0;
    }
  }
  .modal__close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px; 
    border: none;
    background-image: url('../assets/icons/close.svg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    @extend %transition;
  }
}
