.navigation {
  display: flex;
  align-items: center;
  &__item {
    margin-right: 28px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    color: $color-primary;
    text-decoration: none;
    @extend %transition;
    @media (hover: hover) {
      &:hover {
        color: $color-button;
      }
    }
  }
}