.skills {
  &__wrapper {
    margin-bottom: 181px;
  }
  &__text {
    border-bottom: 1px solid $color-primary;
    padding-right: 270px;
    padding-bottom: 80px;
    margin-bottom: 76px;
  }
  &__benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 77px 21px;
  }
  &__benefit {
    display: flex;
    align-items: center;
    gap: 40px;
  }  
  &__img {
    margin-top: 3px;
  }
  &__content {
    padding-right: 40px;
  }
  &__title {
    font-family: 'Inter-Bold';
    margin-bottom: 8px;
  }
}