.steps {
  padding-top: 91px;
  @include media-mobile {
    padding-top: 80px;
  }
  &__wrapper {
    margin-bottom: 91px;
    @include media-mobile {
      margin-bottom: 82px;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  &__step {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 27px;
    padding: 30px 0 29px 0;
    border-top: 1px solid $color-primary;
    border-bottom: 1px solid $color-primary;
    @include media-mobile{
      padding: 13px 0;
      gap: 0px;
    }
    &:not(:first-of-type) {
      border-top: 0;
      padding-top: 0;
      margin-top: 29px;
      @include media-mobile {
        margin-top: 0;
      }
    }
    &:nth-of-type(2) {
      .steps__title {
        padding-top: 9px;
      }
      .steps__text {
        margin-top: 15px;
        padding-right: 6px;
      }
    }
    &:nth-of-type(3) {
      margin-top: 11px;
      .steps__title {
        padding-right: 16px;
      }
      .steps__text {
        margin-top: 5px;
        padding-right: 25px;
      }
    }
  }
  &__title {
    display: flex;
    gap: 40px;
    @include media-tablet {
      display: block;
      gap: 15px;
      font-size: clamp(1.6rem, 3vw + 0.25rem, 2.8rem);
    }
    @include media-mobile-600 {
      padding-right: 19px;
    }
  }
  &__number {
    @include media-mobile-600 {
      margin-right: 5px;
    }
  }
  &__text {
    margin-top: 4px;
    padding-right: 19px;
    
  }
}